<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a target="_blank" href="https://www.facebook.com/mahbub623a" class="text-decoration-none text-black"><i
                    class="fa-brands fa-facebook"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/mrahman441/" class="text-decoration-none text-black"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a target="_blank" href="https://x.com/" class="text-decoration-none text-black"><i
                    class="fa-brands fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/mahbub623a/" class="text-decoration-none text-black"><i
                    class="fa-brands fa-instagram"></i></a>
        </div>
        <div>&copy; wanderlust private limited</div>
        <div class="f-info-links">
            <a href="https://www.example.com/">Privacy</a>
            <a href="https://www.example.com/">Terms</a>
        </div>

        <!-- made with love  -->
        <div class="f-info-love">
            <!-- add red heart -->
            Made with <i class="fa-solid fa-heart text-danger"></i> by Mahbub
        </div>
</footer>