<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>

<body>
    <h1>Wanderlust Listings</h1>
    <form action="/listings/new" method="GET">
        <button>Create</button>
    </form>
    <ul>
        <% listings.forEach(function(listing) { %>
            <li>
                <a href="/listings/<%= listing._id %>">
                    <%= listing.title %>
                </a>
            </li>
            <% }); %>
    </ul>
</body>

</html>